<div class="sidebar d-flex flex-column p-3 border-end">
    <h5 class="text-center text-white">Меню</h5>
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a href="{% url 'catalog:home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">Главная</a></li>
        <li><a href="{% url 'catalog:catalog' %}" class="nav-link {% if request.path == '/catalog/' %}active{% endif %}">Каталог</a></li>
        <li><a href="{% url 'catalog:product_list' %}" class="nav-link {% if request.path == '/products/' %}active{% endif %}">Продукты</a></li>
        <li><a href="{% url 'catalog:contacts' %}" class="nav-link {% if request.path == '/contacts/' %}active{% endif %}">Контакты</a></li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
            Пользователь
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><a class="dropdown-item" href="#">Выход</a></li>
        </ul>
    </div>
</div>
